@import "tailwindcss";

@theme {
  --color-primary: #800020;
  --color-primary-hover: #5a0016;
  --color-background-dark: #0a0a0a;
  --color-surface-dark: #121212;
  --color-text-main: #f8f5f6;
  --color-text-muted: #a1a1aa;
  --font-display: "Space Grotesk", sans-serif;
  --font-bebas: "Bebas Neue", sans-serif;
}

body {
  background-color: var(--color-background-dark);
  color: var(--color-text-main);
  font-family: var(--font-display);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #121212;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #800020;
}
